
@{
    ViewData["Title"] = "AddAdvance";
    Layout = "~/Views/Shared/_HumanLayout.cshtml";
}

@model CreateAdvanceDTO

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function isNumberKey(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode;

        if (charCode > 31 && (charCode < 48 || charCode > 57))

            return false;

        return true;

    }
</script>

<body>
    <div class="page-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xxl-12">
                    <div class="card">
                        <form asp-action="AddAdvance" asp-area="Personnel" asp-controller="Transection" class="needs-validation" novalidate id="invoice_form" enctype="multipart/form-data">
                            <div class="card-body border-bottom border-bottom-dashed p-4">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="profile-user mx-auto  mb-3">
                                            <h1>Add Advance</h1>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="card-body p-4">
                                <div class="table-responsive">
                                    <table class="invoice-table table table-borderless table-nowrap mb-0">
                                        <thead class="align-middle">
                                            <tr class="table-active" style="white-space:nowrap">
                                                <th scope="col" style="width: 220px;">
                                                    Description
                                                </th>
                                                <th scope="col" style="width: 80px;">
                                                    <div class="d-flex currency-select input-light align-items-center">
                                                        Advance Type
                                                    </div>
                                                </th>
                                                <th scope="col" style="width: 80px;">
                                                    <div class="d-flex currency-select input-light align-items-center">
                                                        Currency
                                                    </div>
                                                </th>
                                                <th scope="col" style="width: 80px;">
                                                    <div class="d-flex currency-select input-light align-items-center">
                                                        Amount
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="newlink">
                                            <tr id="1" class="product">

                                                <td class="text-start">
                                                    <div class="mb-4">
                                                        <textarea class="form-control bg-light border-0" asp-for="Name" id="companyAddress" rows="1" placeholder="Description" required></textarea>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="mb-2">
                                                        <select asp-for="AdvanceType" asp-items="ViewBag.AdvanceType" class="form-control" class="form-selectborder-0 border-0 bg-light" data-choices data-choices-search-false id="choices-payment-currency" onchange="otherPayment()">
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="mb-2">
                                                        <select asp-for="Currency" class="form-control" class="form-selectborder-0 border-0 bg-light" data-choices data-choices-search-false id="choices-payment-currency" onchange="otherPayment()">
                                                            <option>TL</option>
                                                        </select>


                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="mb-2">
                                                        <input type="text" class="form-control bg-light border-0 product-line-price" id="productPrice-1" placeholder="0.00" onkeypress="return isNumberKey(event)" maxlength="6" asp-for="Price" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                                    <button type="submit" class="btn btn-success"><i class="ri-printer-line align-bottom me-1"></i> Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/js/adddemantpage.js"></script>

