
@{
	Layout = null;
}

@model NewPasswordDTO

<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>

	<meta charset="utf-8" />
	<title>Create New Password | Begny </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
	<meta content="Themesbrand" name="author" />
	<!-- App favicon -->
	<link rel="shortcut icon" href="~/velzon_html/default/assets/images/favicon.ico">

	<!-- Layout config Js -->
	<script src="~/velzon_html/default/assets/js/layout.js"></script>
	<!-- Bootstrap Css -->
	<link href="~/velzon_html/default/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<!-- Icons Css -->
	<link href="~/velzon_html/default/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
	<!-- App Css-->
	<link href="~/velzon_html/default/assets/css/app.min.css" rel="stylesheet" type="text/css" />
	<!-- custom Css-->
	<link href="~/velzon_html/default/assets/css/custom.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

	<div class="auth-page-wrapper pt-5">
		<div class="auth-one-bg-position auth-one-bg" id="auth-particles">
			<div class="bg-overlay"></div>

			<div class="shape">
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
					<path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
				</svg>
			</div>
		</div>
		<div class="auth-page-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="text-center mt-sm-5 mb-4 text-white-50">
							<div>
								<a href="index.html" class="d-inline-block auth-logo">
									<img src="~/velzon_html/default/assets/images/logo-light.png" alt="" height="20">
								</a>
							</div>

						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-8 col-lg-6 col-xl-5">
						<div class="card mt-4">
							<div class="card-body p-4">
								<div class="text-center mt-2">
									<h5 class="text-primary">Create new password</h5>
									<p class="text-muted">Your new password must be different from previous used password.</p>
								</div>
								<div class="p-2">
									<form asp-action="NewPassword" asp-controller="Login" asp-area=" " method="post">
										<div class="mb-3">
											<div asp-validation-summary="All" class="text-danger"></div>
											<label class="form-label" for="password-input">Your Code</label>
											<div class="position-relative auth-pass-inputgroup">
												<input type="text" asp-for="ConfirmCode" class="form-control pe-5 password-input" value="@Model.ConfirmCode" readonly />
											</div>
										</div>
										<div class="mb-3">
											<label class="form-label" for="password-input">New Password</label>
											<div class="position-relative auth-pass-inputgroup">
												<input type="hidden" asp-for="Email" />
												<input type="password" asp-for="Password" class="form-control pe-5 password-input" onpaste="return false" placeholder="Enter password" />
												<button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
											</div>
										</div>
										<div class="mb-3">
											<label class="form-label" for="confirm-password-input">New Confirm Password</label>
											<div class="position-relative auth-pass-inputgroup mb-3">
												<input type="password" asp-for="ConfirmNewPassword" class="form-control pe-5 password-input" onpaste="return false" placeholder="Confirm password" />
												<button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="confirm-password-input"><i class="ri-eye-fill align-middle"></i></button>
											</div>
										</div>
										<div class="mt-4">
											<button class="btn btn-success w-100" type="submit">Reset Password</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="mt-4 text-center">
							<p class="mb-0">Wait, I remember my password... <a asp-action="Login" asp-controller="Login" asp-area=" " class="fw-semibold text-primary text-decoration-underline"> Click here </a> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="text-center">
							<p class="mb-0 text-muted">
								&copy;
								<script>document.write(new Date().getFullYear())</script> Begny. Crafted with <i class="mdi mdi-heart text-danger"></i> by BEGNY Developers
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- end auth-page-wrapper -->
	<!-- JAVASCRIPT -->
	<script src="~/velzon_html/default/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/velzon_html/default/assets/libs/simplebar/simplebar.min.js"></script>
	<script src="~/velzon_html/default/assets/libs/node-waves/waves.min.js"></script>
	<script src="~/velzon_html/default/assets/libs/feather-icons/feather.min.js"></script>
	<script src="~/velzon_html/default/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
	<script src="~/velzon_html/default/assets/js/plugins.js"></script>

	<!-- particles js -->
	<script src="~/velzon_html/default/assets/libs/particles.js/particles.js"></script>

	<!-- particles app js -->
	<script src="~/velzon_html/default/assets/js/pages/particles.app.js"></script>

	<!-- password-addon init -->
	<script src="~/velzon_html/default/assets/js/pages/passowrd-create.init.js"></script>
</body>
</html>