@using HumanResource.Applications.Models.DTOs.DepartmendDTO;

@{
    ViewData["Title"] = "CreateDepartmend";
    Layout = "~/Views/Shared/_HumanLayout.cshtml";
}

@model CreateDepartmendDTO

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
    <div class="page-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xxl-12">
                    <div class="card">
                        <form asp-action="CreateDepartmend" asp-area="CompanyManager" asp-controller="ManagerTransection" method="post" class="needs-validation" novalidate id="invoice_form" enctype="multipart/form-data">
                            <div class="card-body border-bottom border-bottom-dashed p-4">
                                <div class="row">
                                        <div class="d-flex align-items-center">
                                            <b class="card-title mb-0 flex-grow-1 badge bg-primary">Add Departmend</b>
                                        </div>
                                        @* <div class="profile-user mx-auto  mb-3">
                                        <h4>Add Departmend</h4>
                                        </div>*@
                                    </div>
                                </div>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="card-body p-4">
                                    <div class="table-responsive">
                                        <table class="invoice-table table table-borderless table-nowrap mb-0">
                                            <thead class="align-middle">
                                                <tr class="table-active" style="white-space:nowrap">
                                                    <th scope="col" style="width: 220px;">
                                                        Name
                                                    </th>
                                                </tr>

                                            </thead>
                                            <tbody id="newlink">
                                                <tr id="1" class="product">
                                                    <td class="text-start">
                                                        <div class="mb-4">
                                                            <input type="text" class="form-control " asp-for="Name" id="name" rows="1" oninput="copyText()" placeholder="Name" required>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                                        <button type="submit" class="btn btn-success"><i class="ri-printer-line align-bottom me-1"></i> Save</button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/js/adddemantpage.js"></script>
<script src="~/js/updatepage.js"></script>

